extends layout

block content
    div.container-fluid.mt-3

        div.container-fluid.border-bottom.border-primary.d-flex.justify-content-between
            h4.my-auto= title
            if currentUser
                a.btn.btn-primary.m-1(href='/messages/create') Create Message

        div.modal.fade#confirm
            div.modal-dialog.modal-dialog-centered(role='document')
                div.modal-content
                    div.modal-header
                        h5.modal-title#confirmLabel Delete Message
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    div.modal-body Are you sure you want to delete this message?
                    div.modal-footer
                        button.btn.btn-info(type='button' data-dismiss='modal') Cancel
                        button.btn.btn-danger#delete(type='button' data-dismiss='modal') Delete
    
        if messages
            for message in messages
                div.container-fluid.w-85
                    div.msgContainer.border-bottom.border-secondary
                        div.message.m-1
                            div #[strong #{message.title}] 
                                blockquote.blockquote.ml-3 
                                    p.my-0 #{message.text}                 
                                    if currentUser && currentUser.membership == 'member'
                                        footer.blockquote-footer #{message.user.username} #{message.date_difference}
                                    else
                                        footer.blockquote-footer Anon #{message.date_difference}
                        if currentUser && currentUser.admin
                            div.deleteMsg
                                form(action="", method="post")
                                    input(type="hidden", name="messageid" value=(message.id))
                                    button.btn.btn-dark(type="submit" name='removeMessage') Delete
        else
            p There are no messages! Create a message to get us started.

    script.
        $('button[name="removeMessage"]').on('click', function(e) {
            var $form = $(this).closest('form');
            e.preventDefault();
            $('#confirm').modal({
                backdrop: 'static',
                keyboard: false
            })
            .on('click', '#delete', function(e) {
                $form.trigger('submit');
            });
        });