extends layout

block content
    div.message-container

        h5.border-bottom.border-gray.pb-2.mb-0= title

    
        if messages
            for message in messages
                div.message            
                    div #[strong #{message.title}] 
                        div #{message.text}                 
                        if currentUser.membership == 'member'
                            p By #{message.user.username} #{message.date_difference}
                        else
                            p By Anon #{message.date_difference}
        else
            p There are no messages! Create a message to get us started.