extends layout

block content
    h5.border-bottom.border-gray.pb-2.mb-0= title

    if messages
        for message in messages
            div.message            
                div #[strong #{message.title}] 
                    div #{message.text}                 
                    if currentUser
                        p By #{message.user.first_name + ' ' + message.user.last_name} #{message.date_difference}
                    else
                        p Anon #{message.date_difference}
    else
        p There are no messages! Create a message to get us started.